body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

:root {
  --accent-color: #7AB29E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-page {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-page {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-page__loader {
  display: flex;
  justify-content: center;
  padding-top: 30vh;
}

a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}